<%= simple_form_for question,
    html: { id: "new_question_form",
            data: { turbo_frame: "chatbot_frame" } } do |f| %>

  <div class="input-group mb-3 w-100">
    <div class="form-floating flex-grow-1">
      <%= f.input :user_question,
                  label: false,
                  wrapper: false,
                  input_html: { class: "form-control",
                                placeholder: "Escribí tu pregunta..." } %>
      <%= f.label :user_question, "Tu pregunta" %>
    </div>

    <button class="btn btn-primary" id="new-question-button" type="submit">
      Preguntar
    </button>
  </div>

<% end %>

