<div id="<%= dom_id(question) %>" class="question my-3">
  <p class="user-question fw-semibold">
    <%= question.user_question %>
  </p>
  <p class="ai-answer">
    <%= question.ai_answer.presence || "..." %>
  </p>
</div>
