<li class="list-group-item d-flex justify-content-between">
<span>
    <strong><%= booking.resident.user.name %></strong><br>
    <%= booking.start.strftime("%d-%m %H:%M") %> → <%= booking.end.strftime("%d-%m %H:%M") %>
</span>
</li>
