<div class="row">
  <div class="col-md-6">
    <%= f.input :start,
        as: :string,
        label: "Inicio",
        input_html: {
          class: "form-control rounded-pill datetime-picker",
          type: "text",
          value: f.object.start&.strftime("%Y-%m-%d %H:%M"),
          placeholder: "Selecciona fecha y hora"
        } %>
  </div>

  <div class="col-md-6">
    <%= f.input :end,
        as: :string,
        label: "Fin",
        input_html: {
          class: "form-control rounded-pill datetime-picker",
          type: "text",
          value: f.object.end&.strftime("%Y-%m-%d %H:%M"),
          placeholder: "Selecciona fecha y hora"
        } %>
  </div>
</div>

<%= f.button :submit, class: "btn btn-primary mt-3 rounded-pill" %>
