<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "Crear Comunidad", new_community_path, class: "btn btn-primary" %>
<%= link_to "Registrarse como Vecino", new_neighbor_path, class: "btn btn-primary" %>
