<p>
  Ya eres parte de una comunidad. Para registrarte en otra comunidad debes contactar al administrador
  de tu comunidad actual y darte de baja.
</p>

<%= link_to "Ir a mi comunidad", community_path(@resident.community) %>
