// ----------------------
// External libraries
// ----------------------
@import "bootstrap";
@import "font-awesome";
// @import "flatpickr/flatpickr.min.css";
// @import "flatpickr/material_blue.css";

// ----------------------
// Graphical variables
// ----------------------
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// ----------------------
// Your CSS partials
// ----------------------
@import "components/index";
@import "pages/index";
@import "chats";
@import "common_expenses";
@import "expense_details";
@import "community";
@import "residents";

.fade-out {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
// ----------------------
// Custom Flatpickr styles (override theme)
// .flatpickr-calendar {
//   border-radius: 12px;
//   box-shadow: 0 4px 12px rgba(0,0,0,0.15);
// }

// .flatpickr-day.selected {
//   background-color: #1a73e8; /* azul Google */
//   color: white;
// }

// .flatpickr-time input {
//   border-radius: 6px;
// }

// .flatpickr-weekday {
//   color: #5f6368; /* similar a Google Calendar */
// }

.space-icon-circle {
  width: 70px;
  height: 70px;
  border-radius: 35%;
  background-color: #7360f2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px auto; /* centrado */
}

.space-icon-circle:hover {
  background-color: #5a4bd1;
  transform: scale(1.05);
  cursor: pointer;
}

.space-icon-circle i {
  color: white;
  font-size: 32px; /* tamaño del ícono */
}

.availability-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.container-fluid {
  color: white !important;
}

.hour-button {
  border-width: 2px !important;
  transition: 0.2s ease;
}

.hour-button:hover {
  transform: translateY(-1px);
  background-color: rgba(13,110,253,0.15);
}

.active-hour {
  background-color: #0d6efd !important;
  color: white !important;
  border-color: #0d6efd !important;
  transform: translateY(-2px);
  box-shadow: 0 0 12px rgba(13,110,253,0.35);
}
