<ul>
  <% @communities.each do |community| %>
    <li>
      <%= link_to community.name, community %>
      <%= link_to "Eliminar",
        community_path(community),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
        class: "btn btn-danger"
      %>
    </li>
  <% end %>
</ul>
<%= link_to "Crear nueva Comunidad", new_community_path %>
