<%# #7360f2 %>

<div class="d-flex justify-content-between">
  <div>
    <h2>Crear Comunidad</h2>
  </div>
  <div>
    <%= link_to "Volver a Mis Comunidades", communities_path %>
  </div>
</div>

<%= render "form", community: @community %>

<%= link_to "Volver a Mis Comunidades", communities_path %>
